<ion-grid>
  <ion-row>
    <ion-col size="4" offset="4">
      <form onsubmit="processForm(event)">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked"
              >First Name <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              required
              type="text"
              oninput="handleFirstNameValue(event)"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked"
              >Last Name <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              required
              type="text"
              oninput="handleLastNameValue(event)"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked"
              >Mobile Number <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              required
              type="text"
              oninput="handleFirstNameValue(event)"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked"
              >Email<ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              required
              type="email"
              oninput="handleLastNameValue(event)"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked"
              >Tell Us When Your Adventure
            </ion-label>
            <ion-label position="stacked"
              >Starts<ion-text color="danger">*</ion-text></ion-label
            >
            <ion-datetime
              value="2019-10-01T15:43:40.394Z"
              display-timezone="utc"
            ></ion-datetime>
            <!-- <input type="date" /> -->
          </ion-item>

          <ion-item>
            <ion-label position="stacked"
              >Ends<ion-text color="danger">*</ion-text></ion-label
            >
            <ion-datetime
              value="2019-10-01T15:43:40.394Z"
              display-timezone="utc"
            ></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label position="stacked"
              >Adventure Query Detail
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-textarea
              placeholder="Please Ask Your Query In Detail. So that we can help you better."
            ></ion-textarea>
          </ion-item>
        </ion-list>

        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin"
            >Submit Query</ion-button
          >
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
